.Cards-Container{
    display: flex;
    justify-content: center;
  align-items: center;
    padding: 50px;
    gap: 25px;
    height: 100%;
}

.card {
  box-sizing: border-box;
  width: 250px;
  height: 300px;
  /* background-color: #fff; */
  /* border: 1px solid white; */
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 13px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: 600;
  text-decoration: none;
  /* color: var(--primary); */
  color: #fff;
  background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 23px;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}


/* Smart phones */
@media screen and (max-width: 600px) {
  .Cards-Container{
    flex-direction: column;
  }

  .card{
    height: fit-content;
    padding: 20px 12px;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  
}

/* Laptops */
@media screen and (max-width: 992px) {
  
}

