.ReturnedItems-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 0.75rem;
    font-family: sans-serif;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0,15);
}

.styled-table thead tr{
    background-color: #009879;
    color: #ffffff;
}

.styled-table th, .styled-table td{
    padding: 10px 12px;
    text-align: left;
    text-align: center;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

