.Items-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Items-Container .all-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.styled-table{
    border-collapse: collapse;
    font-size: 0.70rem;
    font-family: sans-serif;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0,15);
    width: 100%;
}

.styled-table thead tr{
    background-color: var(--primary);
    color: #ffffff;
    font-size: 12px;
}

.notreturned thead tr{
    white-space: nowrap;
}

.styled-table th, .styled-table td{
    padding: 10px 11px;
    text-align: left;
    text-align: center;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--buttons);
}

.table-container{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smart phones */
@media screen and (max-width: 600px) {
    .styled-table{
        overflow-x: scroll;
    }
    .table-container{        
    justify-content: start;
    align-items: center;
    }

  }
  
  /* Tablets */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Laptops */
  @media screen and (max-width: 992px) {
    
  }
  