

/* homepage */
.home {
    display: flex;
    gap: 100px;
    width: 100%;
    justify-content: center;
  }

  .items{
    width: 100%;
    padding: 10px 50px;
  }

.all-items{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 60px;
  justify-content: flex-start;
  margin: 20px 0px;
}

.item-details {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }
  
  .item-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
  }
  
  .item-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  
  .item-details .Return-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #333;
    background-color: var(--buttons);
    padding: 5px 12px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s;
  }

  .Return-btn:hover{
    transform: scale(.95);
  }

.all-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin: 10px 0px;
}


.filter-items{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
}

.filter-items div{
    display: flex;
    gap: 10px;
}

.select-types{
    font-size: 15px;
    padding: 4px 18px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 3px;
    
}

.option-type{
    padding: 12px;
}

div.itemCount{
    font-size: 15px;
    padding: 2px 18px;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;    
}

div.errorCount{
    padding: 2px 18px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    text-align: center;
}


/* Smart phones */
@media screen and (max-width: 600px) {
    .items{
      width: 90%;        
      padding: 10px;
    }
    .all-items{
      justify-content: center;
    }
    .all-buttons{
      justify-content: center;
      gap: 10px;
    }
    
}

/* Tablets */
@media screen and (max-width: 768px) {
    
}

/* Laptops */
@media screen and (max-width: 992px) {
    
}

