

.FormBoxes{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 5px;
  width: 100%;
}

.form-parent{  
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  input, textarea{
    padding: 8px;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  
  .Form-Btn-Container button {
    background: var(--primary);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    width: 150px;
    font-family: "Poppins";
    cursor: pointer;
  }
  
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  
  .create{
    display: flex;
    height: fit-content;
    padding: 15px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;    
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }

  .Form-Btn-Container{
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
  }
  .create h3{
    margin: 0px;
    padding: 0 10px 10px 0;
  }
  
  .Item-form-Row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .Input-Box, .wrapper, .suggestion-parent{
    width: 300px;
  }

  input.error {
    border: 1px solid var(--error);
  }
  
  .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .upload-btn {
    border: 2px solid var(--primary);
    flex: 1;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .file{
    display: none;
  }
  
  .upload-btn:hover {
    background-color: hsla(223,10%,60%,0.2);
  }
  
  #item-inputbox{
    /* width: 100%; */
    border: 1px solid #ddd;
  }


/* Auto complete */
.wrapper .search-input{
    background: #fff;
    width: 100%;
    align-items: right;
    border-radius: 5px;
    position: relative;
}

.search-input .autocom-box{
    /* padding: 0px; */
    width: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: inherit;
    background-color: #fff;
}

.search-input.item-active .autocom-box{
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
}

.search-input.item-active .autocom-box li{
    display: block;
}

.autocom-box li{
    list-style: none;
    padding: 8px 8px;
    cursor: default;
    /* border-radius: 3px; */
    display: none;
    background-color: #ddd;
}

.autocom-box li:hover{
    background-color: #efefef;
}


.invisible{
  display: none;
}

.suggestion-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.suggestion-parent p{
  margin: 0px;
}

.suggestion-parent div{
  width: 100%;
}



/* Smart phones */
@media screen and (max-width: 600px) {
  .form-parent{
    padding: 10px 0px;
  }
  .Item-form-Row{
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
  }
  .Item-form-Row label{
    width: 100%;
  }
  .create{
    width: 100%;
  }
  
  .Input-Box, .wrapper, .suggestion-parent{
    width: 100%;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  
}

/* Laptops */
@media screen and (max-width: 992px) {
  
}
