
.Return-Container{
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.Item-Return-Row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.Item-Return-Row h4{
    margin: 0;
    color: #414141;
    font-weight: 600;
    padding: 5px;
    text-align: right;
}

.Item-Return-Row p{
    margin: 0;
    color: #343434;
    padding: 5px;
    font-size: 16px;
    color: black;
    font-weight: 400;
    margin-left: 10px;
}

.Owner-Content h5{
    margin: 0;
    font-weight: 600;
    font-size: 22px;
}

.Owner-Content div{
    padding: 5px;
    align-items: first baseline;
}

.Return-BtnS{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.Return-btn{ 

  background-color: var(--buttons);
  padding: 5px 12px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;
  font-weight: 500;
  white-space: nowrap;
}

.Return-btn a{
    text-decoration: none;
    color: black;
}

/* Smart phones */
@media screen and (max-width: 600px) {
    .Details-Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Return-Container{
        flex-direction: column;
        justify-content: center;
    }

    .Owner-Content .Item-Return-Row{
        display: flex;
        flex-direction: column;
    }

    .Item-Return-Row{
        gap: 2px;
    }

    .Item-Return-Row h4{
        font-size: 14px;
    }
    .Item-Return-Row p{
        font-size: 16px;
    }
    
    .Return-BtnS{
        flex-direction: column;
        gap: 8px;
        justify-content: center;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    
}

/* Laptops */
@media screen and (max-width: 992px) {
    
}

