/* Add your custom styles to this CSS file */

.Camera {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.camera-btn-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.all-buttons {
  display: flex;
}

.Camera-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Adjust styles for different button colors */
.Camera-btn-primary {
  background-color: #007bff;
  color: #fff;
}

.Camera-btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.Camera-btn-success {
  background-color: #28a745;
  color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Optional: Add hover effects to buttons */
.Camera-btn:hover {
  opacity: 0.8;
}

/* Optional: Add transition effects for smooth interactions */
.Camera-btn {
  transition: opacity 0.3s ease-in-out;
}

.camera__section{
  max-width: fit-content !important;
}


