.change-pass-form {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: fit-content;
    border-radius: 5px;
  }
  
  .change-pass-h1 {
    text-align: center;
    color: #333;
  }
  
  .old-password,
  .new-password,
  .confirm-password {
    margin-bottom: 15px;
  }
  
  .change-pass-form-submit {
    width: 100%;
  }
  
  .login-error {
    margin-top: 15px;
  }
  