.Items-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: fit-content;
}

.Items-Container .all-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.styled-table{
    border-collapse: collapse;
    font-size: 0.70rem;
    font-family: sans-serif;
    max-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0, 0,15);
    width: 100%;
}

.styled-table thead tr{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
    font-size: 12px;
}

.notreturned thead tr{
    white-space: nowrap;
}

.styled-table th, .styled-table td{
    padding: 10px 11px;
    text-align: left;
    text-align: center;
}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
    white-space: nowrap;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--buttons);
}

.table-container{
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
}

.download-section label{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.download-section .Returned-btn{
    height: fit-content;
}

.Returned-btn{
    width: 140px;
    padding: 5px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .Returned-btn:hover{
    transform: scale(0.98);
  }

  .delete__btn{
    font-size: 24px;
  }

  .delete__btn:hover{
    color: #c82800;
    cursor: pointer;
  }

/* Smart phones */
@media screen and (max-width: 600px) {
    .styled-table{
        overflow-x: scroll;
    }
    .table-container{    
        width: 100%;   
        overflow-x: scroll; 
        justify-content: start;
        align-items: center;
    }

  }
  
  /* Tablets */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Laptops */
  @media screen and (max-width: 992px) {
    
  }
  