/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

@import url("https://cdn.syncfusion.com/ej2/material.css");


/* layout */
:root {
  --buttons: #4c94cc;
  --error: #e7195a;
  --primary: rgb(37, 150, 190);
}
body {
  background: #ffffff;
  margin: 0;
  font-family: "Poppins";
  min-height: 100vh;
}

.pages{
  padding: 14px;
  margin: 0 auto;
  min-height: 80vh;
  background-color: #efefef;
  /* overflow-x: hidden; */
}


.Returned-btn{
  width: 140px;
  
  padding: 5px 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  
  background: #1488CC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Returned-btn:hover{
  transform: scale(0.98);
}

.Return-Section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

