/* style.css */
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
  }
  
  .grid-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }

  .requests-grid {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    min-width: 90%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .filters {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .grid-container {
    display: grid;
    gap: 20px;
  }
  
  .grid-box {
    padding: 15px;
    min-width: 260px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .request-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
  .request-id,
  .request-date,
  .item-id,
  .status,
  .change-status {
    margin-bottom: 10px;
  }
  
  .change-status select {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
/* Add specific background colors for different statuses */
.grid-box.pending {
  background-color: #fce8b6; /* Light yellow for pending status */
}

.grid-box.approved {
  background-color: #d4edda; /* Light green for approved status */
}

.grid-box.rejected {
  background-color: #f8d7da; /* Light red for rejected status */
}

.open__button{
  background-color: #000;
  color:#fff;
  text-align: center;
  padding: 4px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.open__button:hover{
  background-color: #303030;
}


.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  position: relative;
  min-width: 40%;
  min-height: 50%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.req_image{
  height: 200px;
}

  
  /* Add more styles as needed */
  
  @media screen and (max-width: 600px) {
    .grid-container{
      display: flex;
      flex-direction: column;
    }
  }